.educationHead{

    text-align: center;
    font-size: 40px;

}

.educationDiv{

    margin-left: 550px;
    margin-bottom: -00px;
    padding: 100px 0px 0px 0px;

}

.secondaryEdu{

    font-size: 25px;
    padding-bottom: 15px;

}

.tertiaryEdu{

    padding-bottom: 15px;

}

.institution{

    font-size: 22px;

}
.institutionTxt{

    font-size: 18px;
    margin-left: 310px;
    margin-top: 0px;
    padding: 0px 0px 15px 0px;

}
.period{

    font-size: 22px;

}
.periodTxt{

    font-size: 18px;
    margin-left: 370px;
    margin-top: 0px;
    padding: 0px 0px 15px 0px;

}

.institution2{

    font-size: 22px;

}
.institutionTxt2{

    font-size: 18px;
    margin-left: 310px;
    margin-top: 0px;
    padding: 0px 0px 15px 0px;

}
.period2{

    font-size: 22px;

}
.periodTxt2{

    font-size: 18px;
    margin-top: 25px;
    margin-left: 310px;

}

.tertiaryEdu{

    font-size: 25px;

}

.institution3{

    font-size: 22px;

}
.institutionTxt3{

    font-size: 18px;
    margin-left: 310px;
    margin-top: 0px;
    padding: 0px 0px 15px 0px;

}
.period3{

    font-size: 22px;

}
.periodTxt3{

    font-size: 18px;
    margin-left: 368px;
    margin-top: 0px;
    padding: 0px 0px 15px 0px;

}

.education1{

    display: flex;
    padding: 10px 0px 10px 0px;

}

